'*':
  'Codeigniter Snippet':
    'prefix':'cisnippet'
    'body': """
      ${1:'${2:.source.php}':}
        'Codeigniter ${3:Snippet}':
          'prefix':'ci${4:trigger}'
          'body': \"\"\"
            $0
           \"\"\"
    """
